*{
    width: auto;
}
body{
    background-image: linear-gradient(to right,green,aqua);
    width: auto;
}
.first_slide{
    height: 730px;
    width: 1500px;
    /* background-color: rgb(43, 224, 43); */
}
#energy_title{
    font-size: 100px;
    margin-top: 0px;
    padding-left: 250px;
    padding-top: 170px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.second_slide{
    height: 770px;
    width: 1500px;
    /* background-color: rgb(67, 180, 67); */
    margin-top: 0px;
}
#abstract{
    font-size: 100px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 500px;
    padding-top: 10px;
}
#abstract_content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 55px;
    padding-left: 20px;
    padding-right: 20px;
}
#abstract_content_box{
    height: 630px;
    border: 5px solid black;
    border-radius: 20px;
}
.third_slide{
    height: 745px;
    width: 1500px;
    /* background-color: rgb(113, 232, 113); */
    margin-top: 0px;
}
#benefits{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    padding-left: 40px;
    margin-top: 0px;
    padding-top: 10px;
}
.first_benefit{
    font-size: 20px;
    height: 200px;
    width: 300px;
    margin-left: 10px;
    padding-left: 50px;
    display: inline-block;
    border: 5px solid black;
    border-radius: 20px;  
}
.second_benefit{
    font-size: 20px;
    height: 200px;
    width: 300px;
    padding-left: 10px;
    margin-left: 230px;
    display: inline-block;
    border: 5px solid black;
    border-radius: 20px;
}
.third_benefit{
    font-size: 20px;
    height: 200px;
    width: 300px;
    padding-left: 10px;
    margin-left: 180px;
    display: inline-block;
    border: 5px solid black;
    border-radius: 20px;
}
.fourth_benefit{
    font-size: 20px;
    height: 200px;
    width: 300px;
    margin-left: 300px;
    padding-left: 10px;
    padding-top: 30px;
    display: inline-block;
    border: 5px solid black;
    border-radius: 20px;
}
.fifth_benefit{
    font-size: 20px;
    height: 200px;
    width: 300px;
    margin-left: 300px;
    margin-top: 100px;
    padding-left: 10px;
    padding-top: 30px;
    display: inline-block;
    border: 5px solid black;
    border-radius: 20px;
}
.fourth_slide{
    height: 750px;
    width: 1500px;
    /* background-color: rgb(152, 228, 152); */
    margin-top: 0px;
}
#materials{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    padding-left: 290px;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
}
#components{
    margin-top: 0px;
}
.arduino{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding-left: 40px;
    display: inline-block;
    margin-top: 0px;
}
#arduino_image{
    height: 200px;
    width: 200px;
    padding-left: 30px;
}
.relay_module{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding-left: 40px;
    display: inline-block;
}
#relay_img{
    height: 200px;
    width: 200px;
    padding-left: 40px;
}
.pump_tube{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 150px;
    display: inline-block;
}
#pump_img{
    height: 200px;
    width: 200px;
    padding-left: 20px;   
}
.sensor{
    display: inline-block;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 40px;
}
#sensor_img{
    height: 200px;
    width: 200px;
    padding-left: 100px;
}
.fifth_slide{
    height: 1200px;
    width: 1500px;
    /* background-color: rgb(113, 232, 113); */
    margin-top: 0px;
}
#working{
    font-size: 100px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 130px;
    padding-top: 10px;
}

#working_content{
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.sixth_slide{
    height: 1200px;
    width: 1500px;
    /* background-color: rgb(113, 232, 113); */
    margin-top: 0px;
}
/* #pic2{
    margin: 0;
    margin-left: 50px;
    height: 100px;
    width: 100px;
}
#pic4{
    margin-left: 50px;
    padding-left: 50px;
    height: 100px;
    width: 100px;
}
#pic5{
    margin: 0;
    height: 100px;
    width: 100px;
}
#pic6{
    margin: 0;
    height: 100px;
    width: 100px;
} */
/* * {
    box-sizing: border-box;
  } */
.row {
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 40%;
}

.seventh_slide{
    height: 1200px;
    width: 1500px;
    /* background-color: rgb(113, 232, 113); */
    margin-top: 400px;
}



.eigth_slide{
    height: 770px;
    width: 1500px;
    /* background-color: rgb(67, 180, 67); */
    margin-top: 0px;
}
#team{
    font-size: 100px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 400px;
    padding-top: 10px;
}
#members{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    justify-content: center;
    flex-direction: column;
    padding-left: 650px;
    border: 5x solid black;
}
#water{
    font-size: 25px;
}
#plant{
    font-size: 25px;
}
#saving{
    font-size: 25px;
}
#cost{
    font-size: 25px;
}
#envt{
    font-size: 25px;
}
#videom{
    margin-left: 450px;
   
}
